# Postgresql database url
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Minio or other any s3 compatible provider
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=your_minio_bucket

# Redis
REDIS_URL=localhost:6379
REDIS_PASSWORD=

# Auth
BETTER_AUTH_SECRET=your_secret
BETTER_AUTH_URL=your_app_base_url

# Social auth 
GOOGLE_API=